* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --nero:black;
    --rosso:#d0222b;
    --blu:#1999de;
    --bianco:white;
}


.background {
   
    height:600px;
}

.row1 {
    
    height: 600px;
    margin: 100px auto;
}

.grid{
  
    width: 50px;
    height: 50px;
}
.nero{
    background-color: var(--nero);
}
.rosso{
    background-color: var(--rosso);
}
.blu{
    background-color: var(--blu);
}
.bianco{
    background-color: var(--bianco);
}